<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Photo Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <img src="../../../assets/imgs/picture-2.jpg" alt="picture-2" class="album-image ion-margin-bottom">
        <p class="ion-text-uppercase ion-text-center">Perfecto para vacaciones, eventos u ocaciones especiales</p>
        <p class="description">Crea albunes capturando tus recuerdos, comentarios, historias desde tu cuenta e instagram.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10" class="ion-padding ion-margin" *ngIf="selectedPicture">
        <img [src]="selectedPicture" alt="selectedPicture">
      </ion-col>
      <ion-col size="10" class="ion-padding-horizontal ion-margin-horizontal">
        <ion-button color="primary" expand="block" (click)="instagramLogin()">
          Acceder a Instagram
        </ion-button>
      </ion-col>
      <ion-col size="10" class="ion-padding-horizontal ion-margin-horizontal" *ngIf="selectedPicture">
        <ion-button color="primary" expand="block" (click)="sharePicture()">
          Compartir en Instagram
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="white">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon name="home" size="large" class="ion-padding-horizontal
                                             ion-margin-horizontal"
                                             routerLink="/welcome" routerLinkActive="active">
          </ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="person" size="large" class="ion-padding-horizontal ion-margin-horizontal"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="cart" size="large" class="ion-padding-horizontal ion-margin-horizontal"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
